<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>cram.day</title>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <script src="static/scripts/fill_the_gaps.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Nunito|Codystar|Open+Sans|Hind" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="static/styles/fill_the_gaps.css" rel="stylesheet" type="text/css">



</head>
<body>


    <header>

        <h1>cram.day</h1>
        <h2>completely.remember.all.mark.schemes.today</h2>

    </header>

    <div class="container-fluid">

        <div id="left_leaderboard"  style="opacity:1">
            <h3>Overall:</h3>
            <div id="overall_leaderboard"></div>
        </div>

        <div id="quiz">




                <div id="config">

                    <label for="course">Select course:</label>
                    <select name="course" id="course">
                        <option value="a2">CIE A2 Level</option>
                      <option value="igcse">Oxford AQA IGCSE</option>
                      <option value="as">CIE AS Level</option>
                        <option value="ks3">KS3 Computing</option>
                        <option value="pp">Basic Python Principles</option>

                    </select>


                    <button id="choose_button" onclick="get_topic_list();"  class="btn btn-dark" type="button"
                                        data-toggle="modal" data-target="#choose_topics_modal">
                        Choose topics
                    </button>

                    <button id="hint_button" onclick="get_hints();" class="btn btn-dark" type="button">Show hints</button>
                    <button id="check_button" onclick="submit_answer();" class="btn btn-dark" type="button">Check</button>
                    <button id="settings_button" class="btn btn-dark" type="button"
                            data-toggle="modal" data-target="#settings_modal">Settings</button>

                </div>

                <div id="message_display">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}

                            <ul class="message"?
                            {% for message in messages %}
                              <li>{{ message }}</li>
                            {% endfor %}
                            </ul>


                          {% endif %}
                        {% endwith %}

                </div>

                <div id="question"></div>

                {% if eal %}
                <div id="eal_hint_container">


                </div>

                {% endif %}



        </div>


        <div id="right_leaderboard" style="opacity:1">
            <h3>Last hour:</h3>
            <div id="last_hour_leaderboard"></div>
        </div>





    </div>





    <div id="choose_topics_modal" class="modal fade" role="dialog">
        <div class="choose_topics_modal modal-dialog modal-xl">
            <!-- Modal content-->
            <div class="modal-content">
                <div id="choose_topics_modal_header" class="modal-header">
                    <h4 class="modal-title">Choose topics:</h4>
                </div>


                <div id="choose_topics_modal_content" class="modal-body">

                    <button onclick="select_all_topics(true);">Select all</button>
                    <button onclick="select_all_topics(false);">Deselect all</button>


                    <form id="topic_chooser">




                        <div id="topic_checkbox_display">


                        </div>

                    </form>

                </div>

                <div class="modal-footer">
                    <input type="submit" onclick="begin_session();" data-toggle="modal" class="btn btn-success"
                           id="get_question_btn" value="Begin"/>
                </div>
            </div>
        </div>
    </div>

 <div id="settings_modal" class="modal fade" role="dialog">
        <div class="settings_modal modal-dialog modal-xl">
            <!-- Modal content-->
            <div class="modal-content">
                <div id="settings_modal_header" class="modal-header">
                    <h4 class="modal-title">Settings:</h4>
                </div>


                <div id="settings_modal_content" class="modal-body">



                    <form id="settings_chooser">
                        <div class="checkbox">
                            <label><input type="checkbox" name="eal_mode_toggle" data-toggle="toggle" {% if eal %}checked{% endif %}>EAL mode</label> <em class="help_note">(hints will pin to the bottom of the app and can be dragged to fill the gaps)</em>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="hide_non_topic_toggle" data-toggle="toggle" {% if hide_non_topic %}checked{% endif %}>Hide non-topic misnomers</label> <em class="help_note">(when you <b>show hints</b> you will only see words from your selected topics)</em>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="opt_out_toggle" data-toggle="toggle" {% if opt_out %}checked{% endif %}>Opt out of leaderboards completely</label>
                        </div>


                    </form>

                </div>

                <div class="modal-footer">
                    <input type="submit" onclick="save_settings();" data-toggle="modal" class="btn btn-success"
                           id="save_settings_btn" value="Save"/>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <label for="feedback_speed_slider">Adjust feedback animation speed:</label>
        <input id="feedback_speed_slider" type="range" min="1" max="20" onchange="adjust_feedback_speed()">

        <button id="toggle_leaderboards" onclick="toggle_leaderboard()">hide leaderboards</button>
    </footer>



</body>
</html>

<script>



</script>
