<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fill The Gaps</title>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <script src="static/scripts/fill_the_gaps.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Nunito|Codystar|Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="static/styles/fill_the_gaps.css" rel="stylesheet" type="text/css">


</head>
<body>

    <header>
        <h1>C.R.A.M</h1>
        <h2>completely remember all mark schemes!</h2>
    </header>

    <div class="container-fluid">

        <div id="left_leaderboard">
            <h3>Overall:</h3>
            <div id="overall_leaderboard"></div>
        </div>

        <div id="quiz">

                <div id="score_display"></div>


                <div id="config">

                    <label for="course">Select course:</label>
                    <select name="course" id="course">
                      <option value="igcse">Oxford AQA IGCSE</option>
                      <option value="a2">CIE A2 Level</option>
                      <option value="as">CIE AS Level</option>
                    </select>


                    <button id="choose_button" onclick="get_topic_list();"  class="btn btn-dark" type="button"
                                        data-toggle="modal" data-target="#choose_topics_modal">
                        Choose topics
                    </button>

                    <button id="hint_button" onclick="get_hints();" class="btn btn-dark" type="button">Show hints</button>
                    <button id="check_button" onclick="submit_answer();" class="btn btn-dark" type="button">Check</button>

                </div>
                <div id="question"></div>



        </div>


        <div id="right_leaderboard">
            <h3>Last hour:</h3>
            <div id="last_hour_leaderboard"></div>
        </div>




    </div>
    <div id="choose_topics_modal" class="modal fade" role="dialog">
        <div class="choose_topics_modal modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div id="choose_topics_modal_header" class="modal-header">
                    <h4 class="modal-title">Choose topics:</h4>
                </div>


                <div id="choose_topics_modal_content" class="modal-body">

                    <form id="topic_chooser">


                        <div id="topic_checkbox_display">

                        </div>

                    </form>

                </div>

                <div class="modal-footer">
                    <input type="submit" onclick="get_question();" data-toggle="modal" class="btn btn-success"
                           id="get_question_btn" value="Begin"/>
                </div>
            </div>
        </div>
    </div>



</body>
</html>

<script>



</script>
