<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fill The Gaps</title>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <script src="static/scripts/fill_the_gaps.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Nunito|Codystar|Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="static/styles/fill_the_gaps.css" rel="stylesheet" type="text/css">


</head>
<body>





<div class="container-fluid">


    <header>
        <h1>C.R.A.M</h1>
        <h2>completely remember all mark schemes!</h2>
    </header>

	<!-- formContainer - holds answer input, answer display, check Answer/next question buttons and award marks dropdown -->
	<form method="POST" action="/login">
		<div id="error"></div>

		<!-- start of top bar -->
        <div class="row">
			<!-- banner  -->

            <div class="col-lg-6 col-sm-9">
                <div id="bannerContainer">
                    <header><h1>Examinator V3</h1>
                        <h3 class="tagline">A revision tool for the reflective Computer Science student</h3>
                    </header>
                </div>
            </div>



            <div class="col-lg-6 col-sm-3" id="login_container">


                <div class="row">
                    <label class="login_element" for="uname"><b>Username:</b></label>
                    <input class="login_element" type="text" placeholder="Enter Username" name="uname" required>
                </div>
                <div class="row">
                    <label class="login_element" for="psw"><b>Password:</b></label>
                    <input class="login_element" type="password" placeholder="Enter Password" name="psw" required>
                </div>
                <div class="row">
                    <label class="login_element"></label>
                    <button  class="login_element" type="submit">Login</button>
                </div>
            </div>
        </div>

    </form>

</div>


</body>
</html>

