<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>cram.day</title>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <script src="static/scripts/fill_the_gaps.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Nunito|Codystar|Open+Sans|Hind" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="static/styles/fill_the_gaps.css" rel="stylesheet" type="text/css">


</head>
<body>





<div class="container-fluid">


    <header>

        <h1>cram.day</h1>
        <h2>completely.remember.all.mark.schemes.today</h2>

    </header>

	<!-- formContainer - holds answer input, answer display, check Answer/next question buttons and award marks dropdown -->

    <div class="container-fluid">

        <div id="left_leaderboard">
        </div>
	<form method="POST" action="/login">




        <div id="login">

            <!-- start of top bar -->
            <div class="row">
                <!-- banner  -->

                <div class="col-lg-6 col-sm-9">
                    <div id="bannerContainer">
                       {% with messages = get_flashed_messages() %}
                          {% if messages %}

                            {% for message in messages %}
                              <p>{{ message }}</p>
                            {% endfor %}

                          {% endif %}
                        {% endwith %}
                    </div>
                </div>

            </div>

            <div class="row">


                <table>
                   <tr><td> <label class="login_element" for="uname"><b>Username:</b></label><br></td>
                    <td><input class="login_element" type="text" placeholder="Enter Username" name="uname" required></td></tr>


                    <tr><td><label class="login_element" for="psw"><b>Password:</b></label><br></td>
                    <td><input class="login_element" type="password" placeholder="Enter Password" name="psw" required></td></tr>
                </table>
                <div class="row">
                    <label class="login_element"></label>
                    <button  class="login_element" type="submit">Login</button>
                </div>
            </div>
        </div>

    </form>

</div>


</body>
</html>

