html {
  overflow-y: hidden;
  overflow-x: hidden;
}

body
{

    margin-left:auto;
    margin-right:auto;
    overflow-x: hidden;
}

header, #config
{
    text-align:center;
}

.hint
{
    position:absolute;
    opacity:1;

}

.fadeout
{
  transition-property: opacity, 0;
  transition-duration: 2s;
  transition-delay: 1s;
}
@keyframes fadeout
{
from{opacity: 1;}
to {opacity: 0;}
}

.fadein
{
  opacity:0;
  transition-property: opacity, 0;
  transition-duration: 2s;
  transition-delay: 1s;
}
@keyframes fadein
{
from{opacity: 0;}
to {opacity: 1;}
}



header
{
    left:0;

}

#config
{
    left:0;

}

#login
{

    left:-webkit-calc(100vw * 0.43);
    left:-moz-calc(100vw * 0.43);
    left:calc(100vw * 0.43);
    width:-webkit-calc(100vw * 0.43);
    width:-moz-calc(100vw * 0.43);
    width:calc(100vw * 0.43);
    position:absolute;
}


#quiz
{

    left:-webkit-calc(100vw * 0.25);
    left:-moz-calc(100vw * 0.25);
    left:calc(100vw * 0.25);
    width:-webkit-calc(100vw * 0.5);
    width:-moz-calc(100vw * 0.5);
    width:calc(100vw * 0.5);
    position:absolute;

}

#feedback, #question
{
    top:200px;
    position:absolute;
}

#choose_topics_modal
{
    text-align:left;
    font-size:0.8em;
}

header

{
    padding-bottom:1em;
}


#question
{
    z-index:-1;
}

#feedback
{
    display:none;
    z-index:1;
    opacity:1;
}

.correct
{
    background-color:#4BB543;
    color:white;

}
.incorrect
{
    background-color:#B33A3A;
    color:white;

}

#overall_leaderboard, #last_hour_leaderboard
{
    height:200px;
    width:200px;
    position:absolute;
    top:inherit;
}

#left_leaderboard
{
    left:0px;
    top:inherit;
    padding-left:2em;
    position:absolute;

}

#right_leaderboard
{
    top:inherit;
    position:absolute;
    padding-left:2em;

    left:-webkit-calc(100vw * (5/6));
    left:-moz-calc(100vw * (5/6));
    left:calc(100vw * (5/6));
}



.leaderboard_slot
{
    position:absolute;
    border-bottom: dashed thin purple;
}

h2
{
    font-style:italic;
    font-size:1em;
    color:#999999;
}

.indent
{
    text-indent:1em;
}


.message
{
  width: 200px;
  border-radius: 25px;
  text-align:center;
  vertical-align:middle;
  top: 600px;
  opacity:0;
  background-color: #EEEEEE;
  border: thick black solid;
  position: absolute;
  animation-name: banner;
  animation-duration: 6s;
  overflow-x: hidden;
  left: calc(100vw * 0.666)
}

@keyframes banner {
  0%   {left:0px; opacity:0;}
  30%   {left:0px; opacity:1;}
  50%   {left:0px; opacity:1;}
  99%  {opacity:1;}
  100% {left:calc(100vw * 1); opacity:0;}
}


footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   background:#111111;
   color:white;
   text-align:center;
   font-size:1em;

}